<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Learn Deed Writing With Prabhat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<div id="head-container">
    <ul style="margin-top: -1rem;">
        <li id="home">Home</li>
        <li id="about">About me</li>
        <li id="contact">Contact<i class="fas fa-caret-down"></i> </li>
        <div id="popup">
            <div id="openpopup">
                <div id="closepopup" style="cursor: pointer; color: black;">&times;</div>


                <div>
                    <img id="img" src="image/IMG_20161014_140920.jpg" alt="">
                    <div id="contact1"> <b>Contact Me </b> </div>
                </div>
                <div>
                    <img id="whatsapp" src="image/whatappimg.png" alt=""> <span id="whatsapp1">
                        Mobile No :- 9735157562; </span>
                    <img id="email1" src="image/Emailimg.png" alt=""> <span id="email2">
                        prabhatkumardas1992@gmail.com ; </span>
                    <img id="yahoo" src="image/Color-Yahoo-logo.jpg" alt=""> <span id="yahoo1">
                        prabhatkumardas1992@yahoo.com; </span>
                    <img id="telegram" src="image/Telegram-logo.png" alt=""> <span id="telegram1">
                        PRABHATKUMARDAS ;</span>
                </div>
            </div>



    </ul>
</div>

<div id="login" >
    <a href="/login">Login</a>

</div>
<div id="signup"> 
   <a href="/signup">Sign Up</a>

</div>

<body>
    <div class="hero">
        <div class="container">
            <h1>Welcome To My Website</h1>
            <h1> আমার ওয়েবসাইটে স্বাগতম</h1>
            <p>Lets Learn, how to write a deed?</p>
            <p> চল শিখি , কিভাবে দলিল লেখা হয়</p>
        </div>
    </div>


    <div id="main-container">


        <div id="frist">
            <div id="frist1">
                <div id="heading">
                    <h1> What is a Deed ? </h1>
                </div>

                <div id="para">
                    <p>A deed is a formal legal document that transfers ownership of real property or rights from
                        one party to another. Drafting a deed requires precision to ensure the transfer is legally
                        binding and
                        recognized.</p>
                </div>

                <div id="para1">
                    <div id="para1-1 "> <b>Key Elements of a Deed:-</b> </div>

                    <div id="para1-2">
                        <b>Grantor and Grantee:-</b>
                        <p>The grantor is the person or entity transferring the property, and the
                            grantee is the person or entity receiving it.</p>
                    </div>

                    <div id="para1-3">
                        <b> Legal Description of the Property:- </b>
                        <p> A detailed description of the property being transferred, often
                            more specific than just the address, including lot numbers or other identifying details.
                            Consideration: The amount of money or value exchanged for the property, though this may be
                            nominal
                            in some cases (e.g., a gift). </p>
                    </div>

                    <div id="para1-4">
                        <b> Granting Clause:- </b>
                        <p> The formal statement of transfer, where the grantor grants the property to the
                            grantee. </p>
                    </div>


                    <div id="para1-5">
                        <b>Signatures and Notarization:- </b>
                        <p>The deed must be signed by the grantor, and typically notarized and witnessed, to ensure its
                            legality. </p>
                    </div>

                    <div id="para1-6">

                        <b>Recording:- </b>
                        <p>Once executed, the deed is often recorded with the local government (e.g.,county recorder's
                            office) to provide public notice of the ownership transfer </p>

                    </div>



                </div>


            </div>

            <div id="frist2">

                <h1><b>How to Prepare a Deed?</b></h1>
                <h2> <b>For Prepare a Deed 3 (Three) steps are follow carefully. Follwing steps are:- 1) Prepare a
                        Requisition. , 2) Pass this Requisition from your Jurisdiction of Registration Offices. , 3)
                        Write
                        your Deed. </b> </h2>
                <h2><b>1) Prepare a
                        Requisition:- </h2> </b>
                <h4><b> a) For a Requisition we go to the official site: <a
                            href="https://wbregistration.gov.in/(S(mt05infsfxyhknhlcrlpae0n))/index.aspx"
                            target="_blank"> wbregistration.gov.in</a> </b> </h4>
                <img src="image/img.png" alt="" style="width: 80rem; height: 30rem; margin-left: 5rem;">
                <h4> <b> b) Click on - e-Rquisition From Filling Option. -> Click on - Fill up new e-Requisition Form.

                    </b> <img src="image/img1.png" alt=""
                        style="width: 50rem; height: 30rem; margin-left: 5rem; display: flex; position: relative;"> <img
                        src="image/img2.png" alt=""
                        style="width: 50rem; height: 30rem; margin-left: 60rem; margin-top: -30rem; display: flex; position: absolute;">
                </h4>
                <h4> <b> c) Input all details like - 1) Seller details, 2) Buyer details, 3) Proparty details.

                        <img src="image/img3.png" alt=""
                            style="width: 50rem; height: 30rem; margin-left: 5rem; display: flex; position: relative;">
                    </b></h4>

            </div>



        </div>

        <div id="second">

            <div id="second1">
                <div id="heading1"> দলিল কি ? </div>

                <div id="B-para1">একটি দলিল একটি আনুষ্ঠানিক আইনি নথি যা এক পক্ষ থেকে অন্য পক্ষের কাছে স্থাবর সম্পত্তি বা
                    অধিকার স্থানান্তর করে। দলিল তৈরি করার সময় নির্ভুলতা প্রয়োজন যাতে স্থানান্তর আইনীভাবে বাধ্যতামূলক
                    এবং স্বীকৃত হয়।
                </div>

                <div id="B-para1-1">
                    <div id="B-para1-2">
                        <h3>দলিলের মূল উপাদান:-</h3>
                    </div>
                    <div id="B-para1-3">
                        <h4>দাতা এবং গ্রহীতা:- </h4>
                        <p>দাতা হল সেই ব্যক্তি বা সত্তা যিনি সম্পত্তি স্থানান্তর করছেন, এবং গ্রহীতা হল সেই ব্যক্তি বা
                            সত্তা
                            যিনি এটি গ্রহণ করছেন। </p>
                    </div>
                    <div id="B-para1-4">
                        <h4>সম্পত্তির আইনগত বিবরণ: </h4>
                        <p>স্থানান্তরিত সম্পত্তির একটি বিশদ বিবরণ, যা সাধারণত শুধু ঠিকানার চেয়ে আরও নির্দিষ্ট হয়, যেমন
                            প্লট নম্বর বা অন্যান্য সনাক্তকরণ বিবরণ। </p>

                        <h5>পারিশ্রমিক: </h5>
                        <p>সম্পত্তির বিনিময়ে প্রদত্ত অর্থ বা মূল্য, যদিও কিছু ক্ষেত্রে এটি নামমাত্র হতে পারে (যেমন
                            উপহার
                            হিসাবে)। </p>
                    </div>

                    <div id="B-para1-5">
                        <h4>স্থানান্তর ধারা-: </h4>
                        <p>স্থানান্তরের আনুষ্ঠানিক বিবৃতি, যেখানে দাতা সম্পত্তি গ্রহীতার কাছে প্রদান করেন। </p>
                    </div>

                    <div id="B-para1-6">
                        <h4>স্বাক্ষর এবং নোটারাইজেশন:- </h4>
                        <p>দলিলে দাতার স্বাক্ষর থাকতে হবে এবং সাধারণত এটি নোটারি এবং সাক্ষীদের দ্বারা যাচাই করা হয়,
                            যাতে
                            এটি আইনীভাবে বৈধ হয়। </p>
                    </div>

                    <div id="B-para1-7">
                        <h4>নিবন্ধন:- </h4>
                        <p>দলিল কার্যকর হওয়ার পর, সাধারণত এটি স্থানীয় সরকার (যেমন, জেলা রেকর্ডার অফিস) এর সাথে
                            নিবন্ধিত
                            হয়, যাতে মালিকানা স্থানান্তরের সম্পর্কে সর্বজনীনভাবে বিজ্ঞপ্তি প্রদান করা যায়। </p>
                    </div>


                </div>
                <button id="more"> More </button>


            </div>
            <div id="second2">






                <button id="more" style="margin-left: 115rem;"> More </button>


            </div>




        </div>





    </div>













    <script src="/javascripts/script.js"></script>

</body>

</html>